// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #FF895D;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #ffffff;
$blue: #1B435D;
$dark-blue: #1B435D;
$medium-blue: #78BBE6;
$medium-dark-blue: #35698b;
$light-blue: #D5EEFF;
