// Define variables for your color scheme

// For example:
$red: #cb362e;

$blue: #338dc8;
$dark-blue: #1B435D;
$medium-blue: #35698b;

$yellow-warning: #f9df4c;
$yellow: #fcc153;

$orange: #f49118;
$light-orange: rgb(242, 149, 82);

$green: #3dbb8f;
$green-success: #2ff1ad;

$gray: #7c7c7c;
$light-gray: #e7e7e7;

$white: #ffffff;
$black: #000000;
