.tour-description {
  // font-size: 1.25rem;
}

.tour-img img {
  max-width: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// .rounded-map {
//   border-radius: 15px;
//   width: 100%;
//   height: 100%;
// }
