.management {
  border-radius: 15px;
  background-color: $dark-blue;
  border: $dark-blue solid 2px;
  &:hover {
    transition: all 250ms;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  h2, h4 {
    color: $light-gray;
  }
}

// .management h2, h5 {
//   color: $light-gray;
// }

#profile {
  top: 85px;

}



#profile-box {
  background-color: $dark-blue;
  border-radius: 5px;
  color: $light-gray;
  // border: $dark-blue solid 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  h1 {
    color: $light-gray;
  }
}

.gray-box-wrapper{
  background-color: $light-gray;
  border-radius: 5px;
  padding: 25px;
  // margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.light-gray-box-wrapper{
  background-color: $light-gray;
  border-radius: 5px;
  padding: 25px;
  // margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.avatar-user-show {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: $dark-blue solid 3px;

  @media (max-width: 768px) {
    max-width: 200px;
  }

  @media (max-width: 480px) {
    max-width: 150px;
  }
}

.card-trip-user {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-trip-user-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 115px;
  left: 20px;
  text-align: center;
  color: $dark-blue;
  background-color: $light-gray;
  border: $light-black solid 2px;
  opacity: 0.8;
  border-radius: 15px;
  h4, h5 {
    margin: 0px;
  }
}

.overlay-reject {
  position: absolute;
  top: 115px;
  text-align: center;
  color: $dark-blue;
  background-color: $light-gray;
  border: $light-black solid 2px;
  opacity: 0.8;
  border-radius: 15px;
  h4, h5 {
    margin: 0px;
  }
}
.overlay-refund {
  position: absolute;
  top: 115px;
  right: 20px;
  text-align: center;
  color: $dark-blue;
  background-color: $light-gray;
  border: $light-black solid 2px;
  opacity: 0.8;
  border-radius: 15px;
  h4, h5 {
    margin: 0px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}
