.management h2 {
  color: #78BBE6
}

#profile {
  top: 110px;
}
.gray-box-wrapper{
  background-color: $light-gray;
  border-radius: 6px;
  padding: 20px;
}

.avatar-user-show {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;

  @media (max-width: 768px) {
    max-width: 200px;
  }

  @media (max-width: 480px) {
    max-width: 150px;
  }
}
