<div class="container">
  <%= simple_form_for [@tour, @booking], url: booking_path(@booking), method: :patch do |f| %>
    <%= f.input :date, as: :date, html5: true %>
    <%= f.input :pax, input_html: { type: 'number', step: 1 } %>
    <%= f.submit %>
  <% end %>
</div>
