<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/migueljpi/clone-airbnb" class="footer-link" target="_blank"><i class=" fab fa-github"></i></a>
    <i class="footer-link fab fa-instagram"></i>
    <i class="footer-link fab fa-facebook"></i>
    <i class="footer-link fab fa-twitter"></i>
    <i class="footer-link fab fa-linkedin"></i>
  </div>
</div>
