<div class="footer d-flex justify-content-between align-items-center">
  <div class="footer-links">
    <a href="https://github.com/migueljpi/clone-airbnb" class="footer-link" target="_blank"><i class=" fab fa-github"></i></a>
  </div>
  <div class="footer-text">
    <p>Made by the Compawtible team.</p>
  </div>
</div>
