<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('tour_guide.jpg') %>);">
  <div class="container">
    <h1>Explore the world with your perfect guide!</h1>
    <p>Change your life and get the most insightful experience with a local person.</p>
    <%= link_to "See all tours", "#all-tours", class: "btn btn-dark" %>
  </div>
</div>
<h2 id="all-tours">ALL TOURS</h2>
