  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <%= cl_image_tag("f7wh7zepovrcavmvidfb7tmp80t9",
      width: 400, height: 300, crop: :fill) %>
      <h1>Explore the world with your perfect guide!</h1>
      <p>Change your life and get the most insightful experience with a local person.</p>
      <%= link_to "Book now", "#", class: "btn btn-flat" %>
    </div>
  </div>
