<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path('tour_guide.jpg') %>);">
  <div class="container">
    <h1>Explore the world with your perfect guide!</h1>
    <p>Change your life and get the most insightful experience with a local person.</p>
    <%= link_to "#all-tours", class: "btn btn-secondary btn-lg" do %>
    See all tours
    <i class="fa-solid fa-arrow-down fs-6"></i>
    <i class="fa-solid fa-arrow-down fs-6"></i>
    <% end %>
  </div>
</div>

<h2 id="all-tours"></h2> <%# Do not delete, this is a path to see all button %>
