.btn {
  padding: 8px 24px;
  border-radius: 6px;
  transition: background 0.3s ease;
  opacity: 1;
  &:hover {
    opacity: 0.80;
  }

  &.btn-action {
    background: $orange;
    color: white;
  }

  &.btn-delete {
    background: $white;
    border: 1.5px solid $red;
    color: $black;

    &:hover {
      background: rgb(227, 14, 14);
      color: white;
    }
  }
  &.btn-primary {
    background: $medium-blue;
    color: white;
  }
  &.btn-secondary {
    background: $light-black;
    color: white;
  }
  &.btn-back {
    color: $dark-blue;
    opacity: 1;
    text-decoration: underline;
    padding: 0;
    &:hover {
      opacity: 0.85;
    }
  }
}
