.btn {
  // color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;

  &:hover {
    // color: white;
  }

  &.btn-flat {
    background: $warning;
    color: white;

    &:hover {
      background: #fb6e3b;
      color: white;
    }
  }

  &.btn-delete {
    background: $danger;
    color: white;

    &:hover {
      background: rgb(227, 14, 14);
      color: white;
    }
  }

  &.btn-back {
    background: $primary;
    color: white;


    &:hover {
      background: #0c334d;
      color: white;
    }
  }

  &.btn-login-signup {
    color: white;
    background: $warning;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0 auto;

    &:hover {
      background: #fb6e3b;
      color: white;
    }
  }

}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
