.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  // background: $primary;
  background: $warning;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $medium-dark-blue;
  color: white;
}

.btn-delete {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $danger;
  transition: background 0.3s ease;
}

.btn-delete:hover {
  background: rgb(227, 14, 14);
  color: white;
}
