.flash-messages {
  position: fixed;
  bottom: 100px;
  right: 150px;
  // left: 50%;
  // transform: translateX(-50%);
  z-index: 1000;
  // width: 80%;
  text-align: center;
  color: $dark-blue;
  background-color: $light-gray;
  border: $light-black solid 2px;
  padding: 25px;
  border-radius: 15px;
  // transition: opacity 1s ease-in;
  opacity: 0.8;
  // animation: fadeIn 0.5s ease-in forwards;
}

.flash-messages h5 {
  margin: 0;
}

.flash {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.notice {
  background-color: $light-gray;
  color: $green-success;
  border: 1px solid $green-success;
}

.alert {
  background-color: $light-gray;
  color: $red;
  border: 1px solid $yellow-warning
}

.hidden {
  transition: opacity 2s ease-out;
  opacity: 0;
}
