.flash-messages {
  position: fixed;
  bottom: 100px;
  right: 150px;
  // left: 50%;
  // transform: translateX(-50%);
  z-index: 1000;
  // width: 80%;
  text-align: center;
  color: #1B435D;
  background-color: #D5EEFF;
  border: #1B435D solid 2px;
  padding: 25px;
  border-radius: 15px;
  transition: opacity 0.5s ease-out;
}

.flash {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.notice {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.hidden {
  opacity: 0;
}
