#tour-show-booking-form {
  background-color: $light-gray;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 95%;
  border-radius: 5px;
  padding: 25px;
  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

#form-review .form-control {
  width: 80%;
}

.form-container {
  max-width: 60%;
  min-width: 50%;
  margin: 50px auto;
  padding: 30px;
  background: $white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: start;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;

  h2 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: $dark-blue;
    margin-bottom: 20px;
  }

  .form-actions {
    padding: 10px 0;
  }

  .link {
    color: $dark-blue;
    opacity: 1;
    text-decoration: none;
    padding: 0;
    &:hover {
      opacity: 0.85;
    }
  }
  .max-width {
    max-width: 300px;
  }
}

#form-booking {
  max-width: 100%;
  // width: 50%;
  // height: auto;
  margin: 0;
}
