.navbar-lewagon {
  display: flex;
  background: white;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav {
  display: flex;
  gap: 1rem;
}
