.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $white;
  padding: 12px 24px;
  height: 5em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar-collapse{
  min-width: 11em;
}

.navbar-brand img {
  width: 40px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.nav-link {
  color: $dark-blue;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 10px 16px;
  border-radius: 8px;
  &:hover {
    background-color: $light-gray;
    color: darken($dark-blue, 10%);
  }
}

#brand-name {
  font-size: 24px;
  color: $dark-blue;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  text-decoration: none;
  &:hover {
    color: darken($dark-blue, 10%);
  }
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 4px 12px;
}

.nav-avatar-circle {
  font-size: 28px;
  color: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: $white;
  box-shadow: $black;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
}
