.search-filter-items {
  // display: flex;
  // justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 0px;
  padding: 10px;
  // background-color: #D5EEFF;
  border-radius: 5px;
  // border: 1px solid #1B435D;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin-top: 20px;
}

#search-bar-header {
  margin-left: 50px;
  margin-top: 50px;
  color: #1B435D;
}


.form-control {
  width: 300px;
  margin-right: 10px;
  border-radius: 5px;
}
